[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
pytest = "*"
flask-migrate = "==2.5.2"
flask-sqlalchemy = "==2.4.1"
psycopg2 = "*"
flask-script = "==2.0.6"

[requires]
python_version = "3.8"
